/*Default classes*/

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #319f82;
  background-image: url('assets/img/cover.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* This property ensures that the background image covers the entire pseudo-element */
  clip-path: polygon(100% 100% , 100% 0%, 20% 100% , 0% 100% );
  z-index: -1; /* Place the pseudo-element below the content */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.5); /* Add your desired overlay color and adjust the opacity if needed */
  clip-path: polygon(0% 0%, 0% 125%, 100% 0%, 100% 0%);
  z-index: -1;
}

/* Additional styling for the content */
.content {
  z-index: 1; /* Place the content above the pseudo-element */
  position: relative;
  /* Add your additional styles for the content here */
}

h1 {
  color: #319f82;
  font-size: 80px;
  font-family: "auraregular";
  font-weight: 900;
  padding-left: 10%;
  padding-top: 5rem;
}

h2 {
  margin-top: -2.5rem;
  margin-bottom: 5rem;
  padding-left: 10%;
  color: black;
  font-family:'Roboto', sans-serif;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("fonts/aura_regular-webfont.woff2") format("woff2"),
    url("fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'smooch_sansthin';
  src: url('fonts/smoochsans-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/smoochsans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Classes*/


/*ID*/
#loginBt {
  margin-left: 10%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 15px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 7rem;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Roboto Condensed";
}

#loginBt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#loginBt span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#loginBt:hover span {
  padding-right: 20px;
}

#loginBt:hover span:after {
  opacity: 1;
  right: 0;
}

#guestBt {
  margin-left: 5%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 15px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 15rem;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Roboto Condensed";
}

#guestBt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#guestBt span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#guestBt:hover span {
  padding-right: 20px;
}

#guestBt:hover span:after {
  opacity: 1;
  right: 0;
}

#hero-text{
  height: 20px;
  display:inline-block;
  background-color: linear-gradient(to top, #ff0000, #00ff00);
  background-size: 100% 200%; 
  background-position: bottom;
}

#logo{
  float: right;
  margin-right: 5rem;
  z-index: -1;
  width: 10rem;
}

#logo:hover{
  cursor: pointer;
}

#stats{
  width: 20rem;
  height: 19rem;
  margin: -3rem 0rem 0rem 70rem;
  text-align: left;
  font-family: "auraregular";
  background-color: white;
  padding-left: 2rem ;
  padding-top: 1px ;
  border-style: solid;
  border-width: 0.5rem;
}



#stats-title{
  width: 22rem;
  height: 5rem;
  margin: -10rem 0rem 5rem 70rem;
  text-align: left;
  font-family: "auraregular";
  background-color: white;
  border-style: solid;
  border-width: 0.5rem;
  justify-content: center;
  align-items: centers;
  text-align: center;
}

#stats-title-p{
  font-size: 40px;
  margin-top: 1rem;
}




