/*Default classes*/

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('assets/img/cover.jpg'); 
  background-size: cover; 
  z-index: -1; 
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #81E4DA; /* Add your desired overlay color and adjust the opacity if needed */
  /* clip-path: polygon(0% 0%, 0% 125%, 100% 0%, 100% 0%); */
  clip-path: polygon(0% 0%, 0% 180%, 100% 0%, 100% 0%);
  z-index: -1;
}

h1 {
  color: rgb(215, 67, 131);
  font-size: 80px;
  font-family: "auraregular";
  font-weight: 900;
  padding-top: 10vh;
  margin-top: 15vh;
  margin-left: 20vh;
}

h2 {
  margin-top: -5vh;
  margin-bottom: 5vh;
  margin-left: 20vh;
  color: black;
  font-family:'Roboto', sans-serif;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("fonts/aura_regular-webfont.woff2") format("woff2"),
    url("fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'smooch_sansthin';
  src: url('fonts/smoochsans-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/smoochsans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Classes*/


/*ID*/
#loginBt {
  margin-top: 5vh;
  margin-left: 20vh;
  vertical-align: middle;
  display: inline-block;
  border-radius: 15px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 2vh;
  width: 25vh;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Roboto Condensed";
}

#loginBt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#loginBt span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#loginBt:hover span {
  padding-right: 20px;
}

#loginBt:hover span:after {
  opacity: 1;
  right: 0;
}


#hero-text{
  height: 10vh;
  display: inline-block;
  background-color: linear-gradient(to top, #ff0000, #00ff00);
  background-size: 100% 200%; 
  background-position: bottom;
}

#logo{
  float: right;
  margin-top: -12vh;
  margin-right: 5vh;
  z-index: -1;
  width: 20vh;
}

#logo:hover{
  cursor: pointer;
}

#stats-title{
  width: 42vh;
  height: 10vh;
  margin: -20vh 20vh 0vh 0vh;
  float: right;
  text-align: left;
  font-family: "auraregular";
  background-color: white;
  border-style: solid;
  border-width: 1vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#stats-title-p{
  font-size: 40px;
  margin-top: 1rem;
}

#stats{
  width: 40vh;
  height: 40vh;
  margin: -5vh 20vh 0vh 0vh;
  float: right;
  text-align: left;
  font-family: "auraregular";
  background-color: white;
  padding-left: 2vh ;
  padding-top: 0.5vh ;
  border-style: solid;
  border-width: 1vh;  
}
#stats p{
  font-size: 40px;
  margin-top: 1vh;
}


#eventCounter{
  font-size: 35px;
}


