/*Default classes*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin-top: 5vh;
  margin-left: 10vh;
}

/*Classes*/

/*ID*/
#column-left {
  float: left;
  height: 100vh;
  text-align: left;
  margin-left: 10vh;
  margin-bottom: 30vh;
}

#column-right {
  float: right;
  width: 45%;
  height: 90vh;
  margin-bottom: 20vh;
  text-align: left;
}

#event-box {
  align-items: right;
  border: 4px solid black;
  width: 70%;
  height: 65vh;
  padding: 10px;
}

#ev-date{
  margin-top: 5vh;
}

#ev-details {
  width: 60vh;
  text-align: center;
  border-width: 2px;
  border-color: black;
}

#ev-name {
  width: 80vh;
  text-align: center;
  border-width: 2px;
  border-color: black;
}

#ev-desc {
  width: 80vh;
  text-align: left;
  height: 40vh;
  resize: none;
  padding: 1vh;
  border-width: 2px;
  border-color: black;
}

#ev-req {
  width: 80vh;
  text-align: left;
  height: 20vh;
  resize: none;
  padding: 1vh;
  border-width: 2px;
  border-color: black;
}

#ev-updates {
  width: 80vh;
  text-align: left;
  height: 20vh;
  resize: none;
  padding: 1vh;
  border-width: 2px;
  border-color: black;
}

#submit{
  float: left;
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  width: 82vh;
}

#submit:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}

#available{
  float: right;
  background-color: #16e739; 
  color: white; 
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid #16e739;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  width: 20vh;
  margin: 1vh;
}

#unavailable{
  float: right;
  background-color: #bf0505; 
  color: white; 
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid  #bf0505;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  width: 20vh;
  margin: 1vh;
}

#time-picker{
  margin-bottom: 2vh;
}
