/*Default classes*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

hr {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 3px;
  background-color: black;
  width: 90%;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Classes*/

/*ID*/
#column-left {
  float: left;
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
}

#column-middle {
  margin-top: 5vh;
  width: 2px;
  height: 80vh;
  float: left;
  box-sizing: border-box;
  border: solid;
  background-color: black;
}

#column-right {
  float: right;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar {
  margin-left: 5vh;
  margin-top: 25vh;
}

#profile-info {
  margin-top: 5vh;
}


#profile-pic-column {
  width: 20%;
  height: 100%;
  font-family: "auraregular";
  font-size: larger;
}

#profile-pic{
  display: none;
}

#profile-pic-label {
  width: 100px;
  height: 100px;
  float: left;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

#name-column {
  width: 80%;
  height: 50%;
  float: right;
  margin-bottom: 3vh;
}

#name {
  margin-top: -3vh;
  height: 50%;
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#age-column {
  width: 80%;
  height: 50%;
  float: right;
}

#age {
  width: 35%;
  float: left;
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#gender{
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#state {
  float: right;
  width: 30%;
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#bio-row {
  font-family: "auraregular";
  letter-spacing: 0.5px;
  margin-top: 25vh;
}

#bio-textarea {
  width: 90%;
  border-width: 2px;
  border-color: black;
  resize: none;
  padding: 5px;
}

#sidebar-p {
  margin-top: 0.5vh;
  margin-bottom: 5vh;
  margin-left: 2vh;
  padding: 2px;
}

#sidebar-p:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  width: 25vh;
  padding: 2px;
}

#submit-button {
  margin-right: 14vh;
  float: right;
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#submit-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}

#caption{
  position: absolute;
  margin-top: 13vh;
  font-size: smaller;
  color: red;
  margin-left: 0.5vh;
}
