/*Default classes*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

hr {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 3px;
  background-color: black;
  width: 90%;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Classes*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: -4vh;
  margin-top: 2vh;
  width: 15vh;
  padding: 10px;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: aliceblue;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content > li {
  padding: 1vh;
}

.dropdown-content > li:hover {
  background-color: aqua;
}
.dropdown.active .dropdown-content {
  display: block;
}

/*ID*/
#container {
  position: relative;
  width: 100%;
  background-color: black;
  box-shadow: -2px -2px 5px white, 2px -2px 5px white;
}

#container > nav {
  font-family: "auraregular";
  letter-spacing: 1px;
  width: 100%;
  display: flex;
  height: 11vh;
}

#container > nav > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: center;
  margin-left: -11%;
}

#container > nav > ul > li {
  line-height: 60px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;

  /*   background-color:green; */
  min-width: 120px;
}
#container > nav > ul > li > a {
  position: relative;
  /*   background-color:red; */
  margin: 0 20px;
  color: white;
}
#container > nav > ul > li:hover {
  border-bottom: 2px solid white;
  background-color: rgb(0, 0, 0);
  color: black;
}
#container > nav > ul > .dropdown:hover {
  border-bottom: none;
}
#container > nav > ul > .dropdown:hover > .dd {
  display: block;
  margin-left: -1vh;
}

a {
  text-decoration: none;
}

#container > nav > ul > li > div {
  position: absolute;
  padding: 0 10px;
  background-color: black;
  display: none;
  background-color: aliceblue;
  min-width: 100px;
}

#container > nav > ul > li > div > ul {
  line-height: 40px;
  margin: 0px 0 10px 0;
  padding: 0;
  list-style: none;
}
#u_a_c {
  position: relative;
  width: 100%;
  /*   background-color:red; */
}
#up_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  left: 35%;
  top: -10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}

#up_arrow_profile {
  position: relative;
  width: 20px;
  height: 20px;
  left: 35%;
  margin-top: 10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}

#container > nav > ul > li > div > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#container > nav > ul > li > div > ul > li > a {
  color: black;
}

#logo-container {
  line-height: 60px;
  font-size: 30px;
  padding: 0 50px;
  color: white;
  width: 40%;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px;
  align-items: center;
  justify-content: left;
}

#logo {
  margin-top: 1vh;
  width: 20%;
  height: 80%;
}

#profile-logo-container {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 50vh;
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  text-align: center;
  float: right;
  background-color: white;
  align-items: center;
}

#profile-logo-container:hover {
  cursor: pointer;
}

#profile-logo {
  font-size: 60px;
  user-select: none;
}

#column-left {
  float: left;
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
}

#column-middle {
  margin-top: 5vh;
  width: 2px;
  height: 80vh;
  float: left;
  box-sizing: border-box;
  border: solid;
  background-color: black;
}

#column-right {
  float: right;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar {
  margin-left: 5vh;
  margin-top: 25vh;
}

#profile-info {
  margin-top: 5vh;
}


#profile-pic-column {
  width: 20%;
  height: 100%;
  font-family: "auraregular";
  font-size: larger;
}

#profile-pic {
  width: 100px;
  height: 100px;
  float: left;
  background-color: black;
  border-radius: 50%;
}

#profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#name-column {
  width: 80%;
  height: 50%;
  float: right;
  margin-bottom: 3vh;
}

#name {
  margin-top: -3vh;
  height: 50%;
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#age-column {
  width: 80%;
  height: 50%;
  float: right;
}

#age {
  width: 35%;
  float: left;
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#gender{
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#state {
  float: right;
  width: 30%;
  font-family: "auraregular";
  letter-spacing: 0.5px;
}

#bio-row {
  font-family: "auraregular";
  letter-spacing: 0.5px;
  margin-top: 25vh;
}

#bio-textarea {
  width: 90%;
  border-width: 2px;
  border-color: black;
  resize: none;
  padding: 5px;
}

#sidebar-p {
  margin-top: 0.5vh;
  margin-bottom: 5vh;
  margin-left: 2vh;
  padding: 2px;
}

#sidebar-p:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  width: 25vh;
  padding: 2px;
}

#submit-button {
  margin-right: 14vh;
  float: right;
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#submit-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}

