/*Default classes*/
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}


/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Classes*/
.events{
  height: 40vh;
  margin-bottom: 5vh;
  background-color: aqua;
  font-family: "auraregular";
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
}

.no-events{
  height: 100vh;
  margin-bottom: 5vh;
  background-color: rgb(0, 0, 0);
  font-family: "auraregular";
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  display: grid; 
  place-items: center; 
}

/*ID*/
#home-cover {
  height: 80vh;
  width: 100%;
  overflow-x: hidden;
  opacity: 0.75;
}

#host-event {
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  position: absolute;
  top: 85%;
  left: 90%;
}

#host-event:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}

/*Searchbar */

#searchbar{
  margin-top: 2vh;
  text-align: center;
}

#searchbar > input {
  width: 100vh;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  font-family: "auraregular";
  font-size: 16px;
  letter-spacing: 0.5px;
}

#searchbar > button{
  width: 20vh;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
  font-family: "auraregular";
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#searchbar > button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}


/*Event Column */
#events-column{
  width: 80%;
  height: 100px;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
}

#column-left{
  float: left;
  width: 45%;
  height: 90vh;
  text-align: left;
}

#column-right{
  float: right;
  width: 45%;
  height: 90vh;
  text-align: left;
}

.events{
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3;
  border: 1px solid #ddd;
}

/*--- ScrollFade Specific ---*/

.scrollFade {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--hidden {
	opacity: 0;
	pointer-events: none;
}

.scrollFade--visible {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--animate {
	transition: opacity 0.4s ease-in-out;
}

/*------*/

@media(max-width: 750px) {
	body {
		padding: 100px 25px;
	}

	.items {
		grid-template-columns: repeat(1, 1fr);
	}

	.item--wide {
		grid-column: 1;
	}
}
