<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="homestyle.css" />
    
    <div id="container">

      <nav>
        <div id="logo">
          Herospace
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">Projects &nbsp;<i class="fa fa-caret-down"></i></a>
            <div class="dd">
              <div id="up_arrow"></div>
            <ul>

              <li><a href="#">Featured</a></li>
              <li><a href="#">Recent Posts</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
            </div>
          </li>
          <li><a href="#">Search</a></li>
          
          <li><a href="#">About Us</a></li>
          <li><a href="#">Share the Love!</a></li>
        </ul>
        <div id="profilepic"></div>
      </nav>
    </div>
  </head>
  <body>
    
  </body>
</html>
