* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header::before{
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
  z-index: -1;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* allow both image and login side by side */
div{
  float: left;
}

.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.slideshow-container img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    } */

/* The dots/bullets/indicators */ 
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: 98vh;
  left: 50px;
}

.active {
  background-color: transparent;
}

.hide-scrollbar {
  overflow: hidden;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s; /* Extend the duration for a longer fade effect */
}

@keyframes fade {
  0%, 25% {
    opacity: .5;
  }
  30%, 70% {
    opacity: 1;
  }
  75%, 100% {
    opacity: .5;
  }
}

.zoomOut {
  animation-name: zoomOut;
  animation-duration: 8s; /* Matches the duration of fadeInOut */
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1); /* Start from slightly larger size */
  }
  100% {
    transform: scale(1); /* Ends at the original size */
  }
}


.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background-color: white;
  opacity: .9;
}

/* login box */
.wrapper {
  position: absolute;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 23vh;
  left: 65vw;
  overflow: hidden;
  transition: height .2s ease;
  z-index: 1;
}

/* after pressing register */
.wrapper.active{
  height:650px;
  transform: translateY(-100px);
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}


.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translate(0);

}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
  z-index: 1;
}

.wrapper .form-box.register{
  position: absolute;
  transition: none ;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translate(0);

}
.wrapper .person-icon{
  font-family: 'Material Symbols Outlined';
  position: absolute;
  left: 280px;
  top: 10px;
  font-size: 30px;
}

/* lock icon */
.wrapper .close-icon {
  font-family: 'Material Symbols Outlined';
  position: absolute;
  top: 0 ;
  right: 0;
  width: 45px;
  height: 45px;
  background-color:#162938;
  font-size: 2em;
  color: white;;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px ;
  cursor: pointer;
  z-index: 1;
}

.wrapper .close-icon a{
  text-decoration: none;
  outline: none;
  color: white;
}


.form-box h2{
  font-size: 2em;
  color: black;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #162938;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  color: #162938;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;;
  padding: 0 35px 0 5px;
}

/* email and lock icon */
.input-box .material-symbols-outlined{
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: #162938;
  line-height: 57px; ;
}

.loginMessage{
  color: red;
}

.message{
  color: red;
}

/* login button */
.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
}

.login-register{
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p {
  text-align: center;
  justify-content: center;
}

.login-register p a{
  color: #162938;
  text-decoration: none;
  font-weight: 600px;
}

.login-register p a:hover{
  text-decoration: underline;
  color: blue;
}