/*Default classes*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Classes*/
/* Navbar */
#post-view-navbar > ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 10vh;
  border: none;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 2vh;
}

#post-view-navbar > ul > li {
  float: left;
  margin-right: 2vh;
  color: #000000;
  background-color: black;
  border-radius: 3vh;
}

#post-view-navbar > ul > li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 3vh;
  border: 2px solid #000000;
  font-family: "Anta", sans-serif;
  font-weight: bold;
}

#post-view-navbar > ul > li a:hover:not(.active) {
  color: #000000;
  background-color: #ffffff;
  
}

#post-view-navbar > ul > li a.active {
  background-color: #00e5fa;
  border: 2px solid #00e5fa;
  border-radius: 3vh;
  transition: background-color 0.3s ease;
  font-family: "Anta", sans-serif;
}

#post-view-navbar > ul > li a:hover.active {
  color: #000000;
  background-color: #ffffff;
}

/* Messages */

#profile-pic {
  float: left;
  height: 10vh;
  width: 10vh;
  clear: right;
  margin-left: 40vh;
  margin-top: -16vh;
  border-radius: 50%;
}

#comment {
  text-align: center;
  clear: both;
  float: right;
  background-color: rgb(204, 204, 204);
  padding: 2vh 3vh 3vh 3vh;
  width: 110vh;
  height: 6vh;
  margin-right: 12%;
  margin-bottom: 5vh;
  border-radius: 3vh;
}

#no-comment {
  text-align: center;
  clear: both;
  float: right;
  background-color: rgb(204, 204, 204);
  padding: 3vh;
  width: 110vh;
  height: 15vh;
  margin-right: 12%;
  margin-bottom: 5vh;
  border-radius: 3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#comment-row {
  margin-left: 40vh;
  letter-spacing: 0.5px;
  margin-top: 25vh;
}

#comment-textarea {
  width: 85%;
  height: 10vh;
  border-width: 2px;
  border-color: black;
  resize: none;
  padding: 5px;
}

#submit-button {
  margin-right: 23.5vh;
  margin-bottom: 10vh;
  float: right;
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#submit-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}

#delete-button {
  float: right;
  margin-right: 3vh;
  background-color: #ff0000; /* Green background color */
  color: white; /* White text color */
  padding: 8px 15px; /* Padding for the button */
  font-size: 12px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease;
}

#comment-body{
  text-align: left;
  margin-bottom: 1vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}

#commented-by{
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
