/*Default classes*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Classes*/
.events {
  height: 40vh;
  margin-bottom: 5vh;
  background-color: aqua;
  font-family: "auraregular";
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

/*ID*/
#profile-background {
  height: 30vh;
  background-color: aqua;
}

#profile-pic {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  background-color: black;
  color: #ffffff;
  margin-left: 5vh;
  margin-top: -15vh;
  position: absolute;
  display: grid;
  place-items: center;
}

#username {
  font-family: "auraregular";
  font-size: 48px;
  letter-spacing: 0.5px;
  padding-top: 20vh;
  padding-left: 35vh;
}

#edit-profile {
  float: right;
  margin-top: -5vh;
  margin-right: 3vh;
  background-color: #000000; /* Green background color */
  color: white; /* White text color */
  padding: 8px 15px; /* Padding for the button */
  font-size: 14px; /* Font size of the text */
  font-family: "auraregular";
  letter-spacing: 0.5px;
  border: 2px solid black;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#edit-profile:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid black;
}

#wave {
  font-size: 36px;
  margin-left: 1vh;
}

#point{
  height: 2vh;
  margin-left: 52vh;
  margin-bottom: -5.5vh;
  margin-top: -10vh;
  display: inline;
  font-weight: 800;
  font-size: 48px;
}

#column-left {
  float: left;
  width: 50%;
  height: 50vh;
  text-align: left;
}

#column-right {
  float: right;
  width: 50%;
  height: 50vh;
  text-align: left;
}


/* Card */
#card-left {
  margin-left: 35vh;
  margin-top: 15vh;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 300px;
  font-size: 28px;
}

#card-right {
  font-family: "auraregular";
  font-size: 26px;
  margin-top: 5vh;
  min-height: 100px;
  max-width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  border: 5px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: rgba(30, 145, 254, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
