/*Default classes*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

/*Fonts*/
@font-face {
  font-family: "auraregular";
  src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
    url("../fonts/aura_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "smooch_sansthin";
  src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Classes*/
.events {
  width: 40%;
  height: 20vh;
  background-color: white;
  margin-top: 5vh;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3;
  border: 5px solid #000000;
  margin-left: 3vh;
}

/*ID*/
#banner{
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: rgb(0, 229, 255);
  background-image: url("../assets/img/BANNER.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid; 
  place-items: center; 
}

#main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

/* pagination  */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}

.pagination a {
  border: 1px solid #ddd; /* Gray */
}

/* Card */

.center {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.article-card {
  cursor: pointer;
  width: 70%;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  margin-bottom: 0;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
  margin: 0;
}

.article-card .date {
  font-size: 16px;
  width: 20vh;
  padding: 5px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
  text-align: center;
}

.article-card .title {
  font-size: 36px;
  font-weight: bolder;
  color: #000000;
}
