/*Default classes*/
* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
  }
  
  /*Fonts*/
  @font-face {
    font-family: "auraregular";
    src: url("../fonts/aura_regular-webfont.woff2") format("woff2"),
      url("../fonts/aura_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "smooch_sansthin";
    src: url("../fonts/smoochsans-variablefont_wght-webfont.woff2")
        format("woff2"),
      url("../fonts/smoochsans-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  /*Classes*/
  #front-shape {
    align-items: center;
    align-self: center;
    width: 80%;
    height: 60vh;
    margin: auto;
    /* background-color: aqua; */
    text-align: center;
  }
  
  #front-logo {
    margin-top: 1vh;
    width: 400px;
    height: 200px;

  }
  
  #front-last-row {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
  }

  #about-us {
    padding-top: 10vh;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  #row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
  }
   
  #timpfp {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }
  
  #wongpfp {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }

  
  #shanpfp {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }
  
  #alexpfp {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }
  
  